<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="3">
  <test name="Test_Flipkart">
    <classes>
      <class name="TestNG.Navigatetoflip"/>
    </classes>
  </test> <!-- Test -->
<test  name="Test_Facebook">
    <classes>
      <class name="TestNG.NAvigatetoFacebook"/>
    </classes>
  </test> <!-- Test -->
<test  name="Test_Swiggy">
    <classes>
      <class name="TestNG.NavigatetoSwiggy"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
